@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
   
    font-family: roboto-regular, Verdana;
}
section{
    display: flex;
}
header{

    text-align: center;
}
hr{
    border: 2px solid black;
    margin-bottom: 20px;
}
.img_1 img{
    margin-left: 250px;
    height: 500px;
}
.img_2 img{
    height: 300px;
}
.text
{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    margin-left: 80px;
}
.img_3 img{
    margin-left: 250px;
    height: 500px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
footer {
    background: #79838a;
    color:rgb(204, 202, 202);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
