@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
   
    font-family: roboto-regular, Verdana;
}
.a_pic img{
    height: 290px;
}
#ora_3{
    margin-left: 255px;
}
header H2{
    text-align: center;

}
.a_text{
    border: 2px solid black;
    height: 490px;
    width: 650px;
    margin-right: 20px;
    
}

.a_text h3{
    text-align: center;
    
}
section{
    display: flex;
    margin-bottom: 20px;
    
}
hr{
    border: 2px solid black;
    margin-bottom: 20px;
}
.n_pic img{
    height: 290px;
}
#ora_6{
    margin-left: 255px;
}
.n_text{
    border: 2px solid black;
    height: 490px;
    width: 650px;
    margin-right: 20px;
}
.n_text h3{
    text-align: center;
    
}
.p_pic img{
    height: 290px;
}
.p_text{
    border: 2px solid black;
    height: 290px;
    width: 400px;
    margin-right: 10px;
    margin-left: 50px;
    overflow-y: scroll;
}
.p_text h3{
    text-align: center;
    
}
.r_pic img{
    margin-left: 250px;
    width: 590px;
}
.r_text{
    border: 2px solid black;
    height: 290px;
    width: 400px;
    margin-right: 10px;
    margin-left: 240px;
    overflow-y: scroll;
}
.r_text h3{
    text-align: center;
    
}
.f_pic img{
    
    height: 290px;
}
.f_text{
    border: 2px solid black;
    height: 590px;
    width: 1050px;
    margin-right: 20px;
     overflow-y: scroll;
}
.f_text h3{
    text-align: center;
    
}
    
    #ora_14{
    margin-left: 290px;
}
.g_pic img{
    
    height: 290px;
}.g_text{
    border: 2px solid black;
    height: 490px;
    width: 700px;
    margin-right: 20px;
    overflow-y: scroll;
}
.g_text h3{
    text-align: center;
    
    
}
#ora_17{
    margin-left: 290px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
footer {
    background: #79838a;
    color:rgb(204, 202, 202);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
